name: Release
on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to release'
        required: true
        default: 'v0.0.0'

permissions:
  contents: write

jobs:
  build:
    uses: "./.github/workflows/build.yaml"

  build-apk:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: latest
          cache: true
          cache-sdk: true
          cache-key: ${{ runner.os }}-flutter-${{ hashFiles('pubspec.yaml') }}
      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto' # See 'Supported distributions' for available options
          java-version: '22'
          cache: 'gradle'

      - name: Install dependencies
        run: flutter pub get

      - name: Build release APK
        run: flutter build apk --release

      - name: Upload APK artifact
        uses: actions/upload-artifact@v3
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
  build-ipa:
    runs-on: macos-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: latest
          cache: true
          cache-sdk: true
          cache-key: ${{ runner.os }}-flutter-${{ hashFiles('pubspec.yaml') }}

      - name: Install dependencies
        run: flutter pub get

      - name: Build release IPA
        run: flutter build ipa --release

      - name: Upload IPA artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-ipa
          path: build/ios/iphoneos/Runner.ipa


  create-release:
    runs-on: ubuntu-latest
    needs: [ build-apk, build-ipa ]
    steps:
      - name: Download APK artifact
        uses: actions/download-artifact@v4
        with:
          name: app-release-apk
          path: .

      - name: Download IPA artifact
        uses: actions/download-artifact@v4
        with:
          name: app-release-ipa
          path: .

      - name: Rename artifacts
        run: |
          mv app-release-apk trezo.apk
          mv app-release-ipa trezo.ipa

      - name: Create release
        uses: softprops/action-gh-release@v4
        with:
          files: |
            build/app/outputs/flutter-apk/app-release.apk
            build/ios/iphoneos/Runner.ipa
          token: ${{ secrets.GITHUB_TOKEN }}
          release_name: ${{ github.ref }}
          release_body: ${{ github.event.head_commit.message }}
          tag: ${{ github.ref }}
          draft: false
          prerelease: false